.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    background-color: black;
}

.item {
    background-color: coral;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}